# Created by .ignore support plugin (hsz.mobi)
/wp-config.php
.idea/inspectionProfiles/
wp-content/plugins/unyson/tmp/
wp-content/upgrade/
wp-content/uploads/
.idea
wp-content/themes/uenergy/html
/uenergy
wp-config-sample.php